<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Merkadea</title>
</head>
<body>
  <!------Header Principal------>
  <header>
    <h2 class="nombre-startup">MERKADEA</h2>
    <nav>
      <a href="" class="nav-link">Startup</a>
      <a href="" class="nav-link">Seguridad</a>
      <a href="" class="nav-link">Ayuda</a>
      <a href="" class="nav-link">Iniciar sesión</a>
    </nav>
  </header>
  <!------lider de imágenes------>
  <div class="slidershow middle">
    <div class="slides">
      <input type="radio" name="r" id="r1" checked>
      <input type="radio" name="r" id="r2">
      <input type="radio" name="r" id="r3">
      <div class="slide s1">
        <img src="../assets/Images/Mercado1.jpg" alt="">
      </div>
      <div class="slide">
        <img src="../assets/Images/Mercado2.jpg" alt="">
      </div>
      <div class="slide">
        <img src="../assets/Images/Mercado3.jpg" alt="">
      </div>
    </div>
    <div class="navigation">
      <label for="r1" class="bar"></label>
      <label for="r2" class="bar"></label>
      <label for="r3" class="bar"></label>
    </div>
  </div>
  <!------Barra separadora------>
  <div class="body1">
    <p id="p1-body1">Descubre como digitalizarte con</p>
    <p id="p2-body1">MERKADEA</p>
    <a href="" class="nav-link">Conoce más</a>
  </div>
  <!------Ingreso del usuario------>
  <div class="body2">
    <p id="p1-body2">MERKADEA</p>
    <p id="p2-body2">¿Cómo deseas ingresar?</p>
    <p id="p3-body2">Consumidor</p>
    <p id="p4-body2">ó</p>
    <p id="p5-body2">Comerciante</p>
    <p id="p6-body2">¿No tienes una cuenta? Registrate</p>
    <img src="../assets/Images/Fruta1.jpg">
  </div>
  <!--Cards-->
  <div class="body3">
    <p id="p1-body3">¿Qué puedes hacer con MERKADEA?</p>
    <div class="container__cards">
      <div class="card">
        <div class="cover__card">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
  <!--Footer-->
</body>
</html>