*{
    margin: 0px;
    padding: 0px;
}
/*----HEADER----*/
header {
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    background-color: #727A17;
    align-items: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter';
    align-items: center;
}

nav a{
    font-weight: 400;
    font-size: 24px;
    padding-right: 40px;
    line-height: 29px;
}

nav a:hover {
    color: black;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav {
    padding: 20px 0px;
    }
}

.nombre-startup {
    font-family: 'Inter';
    display: flex;
    align-items: center;
    font-size: 64px;
    font-weight: 800;
    padding-left: 20px;
    padding-top: 20px;
    color: #000000;
}
/*----HEADER----*/
/*----SLIDER----*/
.slidershow {
    width: 85vw;
    height: 60vh;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transform: 0.4s;
}

.bar:hover {background: #fff;}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transform: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {margin-left: 0;}
#r2:checked ~ .s1 {margin-left: -20%;}
#r3:checked ~ .s1 {margin-left: -40%;}
/*----SLIDER----*/
/*----BARRA SEPARADORA----*/
.body1 {
    position: absolute;
    background: linear-gradient(90deg, #414D0B 0%, #727A17 100%);
    display: flex;
    width: 100vw;
    height: 30vh;
    top: 90vh;
}

#p1-body1 {
    position: absolute;
    font-size: 4rem;
    color: #FFFFFF;
    display: flex;
    padding-left: 6vh;
    padding-top: 10vh;
    font-family: 'Inter';
}

#p2-body1 {
    position: absolute;
    font-size: 4rem;
    color: black;
    display: flex;
    padding-left: 3vw;
    padding-top: 20vh;
    font-family: 'Inter';
}

.body1 a{
    /*---CUADRO---*/
    position: absolute;
    background: #FE8C00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    width: 27vw;
    height: 10vh;
    top: 12vh;
    left: 60vw;
    /*---TEXTO---*/
    font-family: 'Inter';
    font-weight: 700;
    font-size: 50px;
    line-height: 90px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.body1 a:hover {
    color: black;
}
/*----BARRA SEPARADORA----*/
/*----INGRESO DEL USUARIO----*/
#p1-body2 {
    color: #000000;
    position: absolute;
    left: 7vw;
    top: 150vh;
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    font-size: 96px;
    font-weight: 800;
}

#p2-body2 {
    position: absolute;
    color: #FFFFFF;
    left: 13vw;
    top: 165vh;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
}

#p3-body2 { /*Consumidor*/
    /*Cuadro*/
    position: absolute;
    width: 28vw;
    height: 10vh;
    top: 170vh;
    left: 6vw;
    background: #FE8C00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    /*Texto*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 90px;
    color: #FFFFFF;
}

#p4-body2 { /*ó*/
    position: absolute;
    color: #FFFFFF;
    top: 183vh;
    left: 20vw;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
}

#p5-body2 { /*Comerciante*/
    /*Cuadro*/
    position: absolute;
    width: 28vw;
    height: 10vh;
    top: 187vh;
    left: 6vw;
    background: #FE8C00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    /*Texto*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 90px;
    color: #FFFFFF;
}

#p6-body2 { /*¿No tienes una cuenta? Registrate*/
    position: absolute;
    color: #FFFFFF;
    top: 198vh;
    left: 10vw;
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
}

.body2 img {
    position: absolute;
    left: 70vw;
    top: 120vh;
    width: 30vw;
    height: 90vh;
}
/*----INGRESO DEL USUARIO----*/
/*----CARD----*/
#p1-body3 {
    color: #D9D9D9;
    position: absolute;
    left: 33vw;
    top: 230vh;
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    font-size: 40px;
    font-weight: 800;
}
/*----CARD----*/